.cards {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    flex-wrap: wrap;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
        &-track {
            background: black;
        }
        &-thumb {
            background: grey;
            :hover {
                background: #D58C51;
            }
        }
      }
}